@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
    font-family: 'Montserrat', sans-serif;
    background-color: #ff0;
    color: black;
    padding: 0 10px;
}

/*CONTACT ME*/ 
.contact{
    max-width: 500px;
    width: 100%;
    background: #ff8000;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
}

.contact_title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color:black ;
    text-transform: uppercase;
    text-align: center;
}
.contact_form{
    width: 100%
}
.input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.input_field label{
    width: 200px;
    color: #2f2e2eb8;
    margin-right: 10px;
    font-size: 14px;
}
.input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
#btn-contact{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #fffb00;
    color: black;
    border-radius: 3px;
    outline: none;
}
/*FIN CONTACT ME*/ 

@media (max-width: 420px){
    /*CONTACT ME*/ 
    .input_field{
        flex-direction: column;
        align-items: flex-start;

    }
    .input_field label{
        margin-bottom: 5px;
    }

}